<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite2">
  <test  name="Test2">
  
  <groups>
  
  <run>
  <include name="smoke"></include>
  <include name="sanity"></include>
  <exclude name="regression"></exclude>
  </run>
  
  </groups>
    <classes>
      <class name="testngExapledemo.GroupingDemo"/>
    </classes>
  </test> <!-- Test2 -->
</suite> <!-- Suite2 -->
